@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

.navbar {
  padding-top: 15px;
  display: flex;
}

h1 {
  color: #f1356d;
  padding-bottom: 5vh;
}

.navbar .links {
  margin-left: auto;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar a:hover {
  color: #a41a43;
}

.content {  
  width: fit-content;
  margin: 40px auto;
  padding: 20px;
  text-align: center;
}

.event-list {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  place-content: center;
}

.dress-code {
  display: flex;
  align-items: start;
}

.add-participant {
  display: flex;
}

.event-preview {
  text-align: start;
  width:180px;
  height: 250px;
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
  background-color: lightgray;
}

.event-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}

.event-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

.event-preview a{
  text-decoration: none;
}

.event-details h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 10px;
}

.event-details div {
  margin: 20px 0;
}

.event-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.create {
  max-width: 400px;
  margin: 0 auto;
  text-align: center;
}

.create label {
  text-align: left;
  display: block;
}

.create h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 30px;
}

.create input, .create textarea, .create select, .login input {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}

.create-button { 
  color: white;
  background-color: #f1356d;
  border-radius: 8px;
}

.create button, .login button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}

.loading {
  animation: load 2s linear infinite;
}

.title {
  display: flex;
  padding: 15px;
  justify-content:space-around;
}

.bm-burger-button {
  display: none;
}

.bm-menu {
  display: none;
}

@keyframes load {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 500px) {
  .navbar {
    flex-direction: column;
  }

  .bm-burger-button {
    display: block;
    position:absolute;
    top: 18px;
    right: 18px;
    width: 62px;
    height: 62px;
  }

  .bm-menu {
    display: block;
    background: #fff;  
    border: 1px  #5a5a5a8a solid;
  }

  .visible-navbar {
    display: none;
  }

  .bm-menu-wrap {
    margin-top: 20%;
  }
}